<!DOCTYPE html>
<html>
<body style="font-family:Arial;background:#f4f6f8;padding:30px">

<table width="100%" style="max-width:600px;margin:auto;background:white;padding:30px;border-radius:8px">

    <tr>
        <td align="center">
            <h2 style="color:#4CAF50;">Student Rejected!! 🏫</h2>
        </td>
    </tr>

    <tr>
        <td>
            <p>Hello <b th:text="${name}"></b>,</p>

            <p>Your account has been rejected by admin!</p>

            <p>Ensure your documents and profile is completely updated!</p>
        </td>
    </tr>

    <tr>
        <td>
            <hr>
            <p style="font-size:12px;color:gray">CampusConnect Team</p>
        </td>
    </tr>

</table>
</body>
</html>